@media screen {

    * {
        box-sizing: border-box;
    }

    html {
        font-family: "Oswald", sans-serif;
        font-size: $base-font-size;
        line-height: $base-line-height;
        font-weight: 300;
    }

    body {
        padding: 2.25em 0 0 0;
        margin: 0;
        background-color: $primary-tone;
    }

    h1, h2, h3 {
        font-family: "veveyregular", sans-serif;
        letter-spacing: .1em;
    }

    h1 {
        font-size: 4 * $base-font-size;
        line-height: 3 * $base-line-height;
        font-weight: normal;
        background-color: #333;
        color: #fff;
        text-align: center;
        margin: 0;
    }

    #title {
        background: url('../img/chelo-silhouette.png') $primary-tone no-repeat center;
        background-size: cover;
        height: 100vh;
        position: relative;
        padding-top: 1em;
    }

    #title h1 {
        text-shadow: 3px 3px $primary-tone;
        background: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        z-index: 0;
        line-height: 100%;

        &:before {
            content: "";
            opacity: .6;
            width: 0;
            height: 0;
            border-top: 150px solid transparent;
            border-right: 250px solid $tertiary-tone;
            border-bottom: 70px solid transparent;
            position: absolute;
            left: 50%;
            transform: translateX(-60%) translateY(-60%) rotate(15deg);
            top: 50%;
            z-index: -1;
        }
    }

    .container {
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 1em;
    }

    .section:not(#characters) .container {
        padding: 0 20%;
    }

    header {
        background-color: #000;
        padding: .25em;
        text-align: right;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 3em;
        z-index: 1;
    }

    header h1 {
        font-size: 1.5 * $base-font-size;
        line-height: $base-line-height;
        margin: 0 0 0 .667em;
        padding: .5em 0 0;
        text-align: left;
        float: left;
        background: none;
        opacity: 0;
        transition: opacity .3s;
    }

    header h1.visible {
        opacity: 1;
    }

    header .button {
        background-color: transparent;
        border: 0;
        color: #fff;
        font-family: "Oswald", sans-serif;
        font-size: .75 * $base-font-size;
        line-height: $base-line-height;
        display: inline-block;
        margin: .5em 1em;
        text-decoration: none;
    }

    header button.fa {
        font-size: $base-font-size;
        vertical-align: bottom;
        text-indent: -9999px;
        position: relative;

        &:before {
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    a.dev-blog {
        text-align: center;
        display: inline-block;
        position: absolute;
        background: rgba(255,255,255,.2);
        left: 50%;
        bottom: 20%;
        transform: translateX(-50%);
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        border: 2px solid #000;
        padding: .25em .5em;
        transition: background-color .2s ease-in-out;

        &:hover {
            background-color: rgba(255,255,255,1);
        }
    }

    .section {
        padding: 2em 0;
    }

    #intro {
        background-color: $primary-tone;
    }

    #intro .drop-caps {
        font-size: 3 * $base-font-size;
        float: left;
        margin: 0 .25em 0 0;
        padding: .25em 0;
        background: -webkit-linear-gradient(#EFFF00, #FFB100);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #intro .vendors {
        font-size: 1.25 * $base-font-size;
        text-align: center;
        text-transform: uppercase;
        margin: (2 * $base-line-height) 0 0;
    }

    #intro .vendors .logo {
        display: inline-block;
        padding: (.5 * $base-font-size) $base-font-size;
        margin: (.5 * $base-font-size) 0;
        background-color: darken($primary-tone, 10%);
        color: #fff;
    }

    #intro .vendors .languages {
        text-transform: none;
    }

    #latest {
        position: relative;
        background: #fff;
        min-height: 100vh;
    }

    #latest:before {
        content: "";
        position: absolute;
        top: 0;
        width: 25%;
        bottom: 0;
        left: 0;
        background: url('../img/palm-bg.png') #fff repeat-y;
        background-size: contain;
    }

    #latest:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25%;
        background: url('../img/palm-bg.png') #fff repeat-y;
        transform: scaleX(-1);
        background-size: contain;
    }

    #latest > * {
        position: relative;
        z-index: 1;
    }

    #latest h2 {
        text-align: center;
    }

    #latest h3 {
        margin: 1.333em 0 0;
        font-family: "Oswald", sans-serif;
        letter-spacing: 0;
        font-size: 1.5 * $base-font-size;
        text-align: center;
        border-top: 1px solid #ccc;
        padding-top: .333em;
    }

    #latest .date {
        font-weight: 400;
        text-align: center;
        display: block;
        font-size: .75 * $base-font-size;
        border-bottom: 1px solid #ccc;
        margin-bottom: 2.666em;
    }

    #latest a.jump {
        text-align: center;
        display: table;
        color: #333;
        text-decoration: none;
        margin: 1em auto;
        border: 2px solid #333;
        padding: .5em;
        font-family: "Oswald", sans-serif;

        &:before {
            font-family: "FontAwesome";
            float: right;
            margin-left: .5em;
        }
    }

    #characters {
        @include background-image(linear-gradient(#F6FD00,#FCBF03));
    }

    .character {
        clear: both;
        overflow: hidden;
        padding: 1em;

        &:not(:last-child) {
            margin-bottom: -2em;
        }
    }

    .character .quote {
        font-size: 1.5 * $base-font-size;
        font-style: italic;
        margin: .8em 0;
        color: $yellow;
        background: -webkit-linear-gradient(#0095FF, #FF0000);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-right: .2em;
        line-height: 1.5 * $base-line-height;
    }

    .character .portrait {
        float: left;
        width: 30%;
        margin-right: 1em;

        img {
            width: 100%;
            height: auto;
        }
    }

    .character:nth-child(2n) {
        text-align: right;

        & .portrait {
            float: right;
            margin: 0 0 0 1em;
        }

        & .profile {
            float: right;
        }
    }

    .character .profile {
        display: block;
        float: left;
        max-width: 50%;
    }

    .character .label {
        font-weight: 400;
    }

    #team {
        background: url('../img/decopattern.png');
        text-align: center;
        padding: 4em 0;
    }

    #team h3 {
        margin: 0;
    }

    #team .name {
        display: block;
    }

    #team .credit,
    #team .container > p {
        padding: 2em 1em 1em;
        background-color: #fff;
        margin: 0;
    }

}